@import url('https://fonts.googleapis.com/css?family=Open+Sans');

 .schedule_container {
  /* height: 100%;
  width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  
} 

section.schedule_page {
    height: 100px;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.big_calender{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* width: 750px;
    height: 600px; */
    padding-left: 300px;
    padding-top: 50px;
}