@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
     background-image: url("https://i.pinimg.com/originals/88/01/d8/8801d84a77e9235515a927436f9877df.jpg");
    /*background-image: linear-gradient(99deg, #FF70A6, #ff9770 40%, #ffd670 73%, #e9ff70);*/

}
.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

}
.central-login{
    box-shadow: 0 14px 28px 0 rgba(0,0,0,0.25), 0 10px 10px 0 rgba(0, 0, 0, 0.26);
    border-radius: 8px;
    background-image: linear-gradient(128deg, rgba(64, 61, 57, 0.1), rgba(255, 255, 255, 0.2));
   padding: 60px;
  min-width: 500px;
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;

}
.login-container{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
}
.logo{
  margin-top: 10px;
}
.helo{
  font-family: 'Open Sans';
  font-size: 80px;
  font-weight: bold;
}
.login-button-container {


}
.login-button {
	color: #fff;
	background-color: #403d39;
	/* background-color: radial-gradient(circle at 50% - 46%, #737373, #403d39);
	box-shadow: 0 1px 3px 0 rgba(0,0,0, 0.1), 0 1px 2px 0 rgba(0,0,0,0.2); */
	border-radius: 4px;
	padding: 5px 20px;
	border: none;
	min-width: 350px;
	height: 40px;


}
