
.main-container{ 
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
}

.central-login {
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
}

.login-container {
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
}

.center_logo img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.parent-portal {
  font-size: 30px;
}

.login-button {
	color: #fff;
	background-color: #403d39;
	/* background-color: radial-gradient(circle at 50% - 46%, #737373, #403d39);
	box-shadow: 0 1px 3px 0 rgba(0,0,0, 0.1), 0 1px 2px 0 rgba(0,0,0,0.2);
	border-radius: 4px;
	padding: 5px 20px;
	border: none;
	min-width: 350px;
	height: 40px;  */
}

