* {
    box-sizing: border-box;
}

form {
     margin-top: 2rem;
     margin-right: auto;
     margin-left: auto;
     max-width: 50rem;
     background-color: #F4BEBC;
     border-radius: 8px;
     box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07); 
}

.title {
    width: 100%;
    height: auto;
    top: 70%;
    left:  0;
    opacity: 0.8;
    background-color: rgba(60, 56, 56, 0.35);
    border: solid 2px #A5656D;
    margin-top: 15px;
    color: black;
}

.flex-inner-wrapper{
    display: inherit;
    flex-flow: inherit;
    justify-content: inherit;
    align-items: inherit;
    padding-bottom: 10px;
}

.form-parents {
     padding: 0;
     border: 0;
     margin-top: 1rem;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: .75rem;
    text-transform: uppercase;
    touch-action: manipulation;
}

input {
    display: block;
    padding: .5rem .75rem;
    width: 100%;
    font-size: 1rem;
    line-height: 1.25;
    color: #55595c;
    background-color: white;
    background-image: none;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #eee;
    border-left: 0;
    border-radius: 3px;
}

input:focus {
    outline: 0;
    border-bottom-color: black;
}

.dancer {
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 450px;
    background: url('./pattern.png');
    border-radius: 20px;
    box-shadow: 6px 6px 40px -6px #999; 
    border: solid 2px #F4BEBC;
    color: #1D1A1A;
}

.submit-button {
    display: inline-block;
    padding: 1rem 1rem;
    margin-top: 1.5rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: white;
    vertical-align: middle;
    background-color: #55595C;
    border: 1px solid transparent;
    box-shadow: 6px 6px 40px -6px #999; 
    cursor: pointer;
}

.submit-button:focus,
.submit-button:hover {
    background-color: #A5656D;
}



