@import url('https://fonts.googleapis.com/css?family=Pinyon+Script'); 

 .main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
} 

.video-overlay {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  opacity: 0.85;
}

.Typist {
  position: absolute;
  width: 100%;
  height: auto;
  top: 70%;
  left:  0;
  color: #F4BEBC;
  font-size: 45px;
  font-family: 'Pinyon Script', cursive;
  opacity: 0.7;
  background-color: rgba(48, 44, 44, 0.35);
  
}

.Typist .Cursor {
  width: 100%;
  height: auto;
  opacity: 1;
  color: white;
  
}
  .Typist .Cursor--blinking {
    opacity: 0.5;
    animation: blink 1s linear infinite; 
  }

  .MyTypist_Text {
    animation-delay: 6000;
  }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } 

  }

.fullscreen-bg {
  float: left;
  position: relative;
}

.fullscreen-bg__video {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

 button.logo {
  z-index: 100;
  position: fixed;
  padding-top: 15px;
  padding-left: 15px;
  background-color: #F4BEBC;
 }

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
} 

 @media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('https://i.pinimg.com/736x/15/44/87/154487f8523d2f3d2faf7aacd1fc3d57--dancing-in-the-street-street-dance.jpg') center center / cover no-repeat;
  }
} 
