@import url('https://fonts.googleapis.com/css?family=Lato'); 
@import url('https://fonts.googleapis.com/css?family=Open+Sans'); 
@import url('https://fonts.googleapis.com/css?family=Pinyon+Script'); 

.mobile_menu_header {
    position: absolute;
    width: 100%;
    height: auto;
    top: 70%;
    left:  0;
    color: #F4BEBC;
    font-size: 45px;
    font-family: 'Pinyon Script', cursive;
    opacity: 0.7;
    background-color: rgba(48, 44, 44, 0.35);
    z-index: 100;
  }