
.Class_schedule {
  padding: 0;
  margin: 0;
}

.schedule_class_container {
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F0EFED;
  box-shadow: 6px 6px 40px -6px #999; 
  border-radius: 20px;
  margin: 15px;
  background: url('./pattern.png');
}

.jazz1_text {
  background-color: #F4BEBC;
  width: 80%;
  height: 70px;
  margin: 15px;
  box-shadow: 6px 6px 40px -6px #999; 
  border-radius: 10px;
  color: #A5656D;
}

.jazz2_text {
  padding: 20px;
  justify-content: center;
  align-items: center;
}

  // .big_calender {
  //   height: 500px;
  //   width: 500px;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: center;
  // }


