@import url('https://fonts.googleapis.com/css?family=Lato');
@import url("https://fonts.googleapis.com/css?family=Pacifico");

.main-container {
  width: 100%; 
  /* height: 100vh; */
}

  .about_container {
    width: 1000px;
    background: #A5656D;
    margin: 50px auto;
    -webkit-box-shadow: 6px 6px 40px -2px #999;
    -moz-box-shadow: 6px 6px 40px -2px #999;
    box-shadow: 6px 6px 40px -2px #999; 
    font-family: Lato, cursive;
    
  }
    .about_container h1 {
      display: flex; 
      justify-content: center;
      color: #F4BEBC;
      padding: 50px 0 0 0; 
      height: 20px;
      font-size: 30px;
        
    }
  
  .outer_container {
    width: 100%;
    background: white;
    margin: 50px auto;
    padding: 75px; 
    text-decoration-color: #2B2525;
    font-size: 20px;
  }
  
  .text_container {
    width: 100%;
    margin: 0 auto;
    padding: 10px 0; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    text-align: left;
  }


  .dance_list {
    text-align: center;
  }
 
  
  .list_container {
    width: 30vw; }


  section.section:last-child {
    margin-bottom: 0;
    background-color: darkgray !important;
  }
  section.section h2 {
    margin-bottom: 40px;
    font-family: "Roboto Slab", serif;
    font-size: 30px;
    
  }
  section.section p {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 300;
    
  }
  section.section p:last-child {
    margin-bottom: 0;
  
  }
  section.section.content {
    padding: 40px 0;
    background-color: #F4BEBC;
  }

  section.section.parallax {
    height: 600px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  section.section.parallax h1 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 48px;
    line-height: 600px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  section.section.parallax-1 {
    background-image: url('./citydance.jpeg');
  }
  section.section.parallax-2 {
    background-image: url('./dancescene.jpg');
  }
  section.section.parallax-3 {
    background-image: url('./group.jpeg');
  }
  @media all and (min-width: 600px) {
    section.section h2 {
      font-size: 42px;
    }
    section.section p {
      font-size: 20px;
    }
    section.section.parallax h1 {
      font-size: 96px;
    }
  }
  @media all and (min-width: 960px) {
    section.section.parallax h1 {
      font-size: 160px;
    }
  }