@import url('https://fonts.googleapis.com/css?family=Courgette');
 
 .header-container {
   margin: auto;
   border-bottom: 1px solid black;
   box-shadow: 6px 6px 20px -4px #999; 
   border-bottom: 3px solid #625454;
   color: #A5656D

 }

 #main-header {
   border-bottom: 1px solid black;
   /* background: url('./wall-plant-r3.jpg') */
 }

 #navbar {
   text-transform: uppercase;
 }

 #navbar li {
   display: inline;
   padding-right: 20px;
   list-style: none;
   font-size: 20px;
 }

 #navbar a {
   text-decoration: none;
   color:  gray;
 }

 #navbar.li.current a, #navbar a:hover {
    color: pink;
    border-bottom: 3px solid gray;
 }

 .Header_child_right  {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  text-decoration: none;
  font-size: 20px;
 } 

@media screen and (max-width: 600px) {
  .Header_parent_container.responsive {position: relative;}
  .Header_parent_container.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  } 
}