
.header-container {
   margin: auto;
   border-bottom: 1px solid #625454;
   box-shadow: 6px 6px 20px -4px #999; 
   border-bottom: 3px solid #2B2525;
   color: #A5656D
 }

 #main-header {
   border-bottom: 1px solid black;
   background: url('./pattern.png');
 }

 #navbar {
   text-transform: uppercase;
 }

 #navbar li {
   display: inline;
   padding-right: 20px;
   list-style: none;
   font-size: 20px;
 }

 #navbar a {
   text-decoration: none;
   color:  #625454;
 }

 #navbar.li.current a, #navbar a:hover {
    color: #F4BEBC;
    border-bottom: 3px solid #625454;
 }

 .Header_child_right  {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding-left: 50px;
  padding-right: 50px; */
  max-width: 100%;
  text-decoration: none;
  font-size: 20px;
 } 

@media screen and (max-width: 600px) {
  .Header_parent_container.responsive {position: relative;}
  .Header_parent_container.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  } 
}